.agent {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.agent .header .icon {
    padding: 10px;
}
.agent-input {
    position: fixed;
    bottom: 0;
    height: 55px;
    border-top: 1px solid lightgray;
    background-color: white;
    width: 100%;
    padding: 0 20px;
}

.agent-input input {
    width: 100%;
    border: 0;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    height: 55px;
    color: #444444;
}

.agent-input input:focus {
    outline: none;
    outline-offset: 0;
}
.agent .agent-result {
    overflow-y: auto;
    background: white;
    position: fixed;
    top: 75px;
    bottom: 55px;
    display: block;
    width: 100%;
}
.agent .agent-result .table {
    min-height: 100%;
}


.agent .agent-result td {
    vertical-align: bottom;
    border-top:none;
}

.agent .user-request {
    background-color: #efefef;
    float: left;
    margin-right: 15px;
    margin-top: 15px;
    margin-left: 15px;
    color: #444;
}

.agent .user-request,  .agent .server-response {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 3px;
    border: 1px solid #eee;
    margin-bottom: 5px;
    font-size: 1.1em;
    clear: both;
}

.agent .server-response {
    color: white;
    background-color: #006e51;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
}
.agent .server-response p {
    font-weight: bold;
    margin-bottom: 0px;
    color: #ccc;
}
.header-wrapper {
    background: #A0ce67;
    color: #ffffff;
    padding: 5px 0;
}
.header-wrapper p { margin-bottom: 0px;}